{{define "footer"}}
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Patrick Scheid</p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{{$.linkPrefix}}" class="nav-link px-2 text-muted"><img src="{{$.linkPrefix}}assets/logo.webp" alt="home button" width="24" height="24" class="d-inline-block align-text-top"></a></li>
        <li class="nav-item"><a href="https://github.com/pscheid92/dwarferl" class="nav-link px-2 text-muted"><img src="{{$.linkPrefix}}assets/github_mark.webp" alt="link to github project page" width="24" height="24" class="d-inline-block align-text-top"></a></li>
    </ul>
{{end}}
