<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortener</title>
</head>
<body>
<h1>Create new short URL</h1>
<form method="POST">
    <label for="url">URL:</label>
    <input id="url" type="text" name="url" placeholder="URL">

    <input type="submit" value="Shorten">
</form>
</body>
</html>
