{{define "content"}}
    <h3>Do you want to delete this short link?</h3>


    <form method="post" class="pt-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-outline-secondary" href="{{$.linkPrefix}}" role="button">Abort</a>
    </form>
{{end}}

{{template "base" .}}
