{{template "base" . }}

{{define "content"}}
    <ul>
        {{- range $redirect := .redirects -}}
            <li>
                <a href="{{$.linkPrefix}}{{ $redirect.Short }}" target="_blank">{{ $redirect.Short }}</a> (<a href="{{$.linkPrefix}}delete/{{ $redirect.Short }}">Delete</a>)
            </li>
        {{- end }}
    </ul>
{{end}}
