<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortener</title>
</head>
<body>
<h1>Login Page</h1>

{{ if . }}
    <p>Hello {{ . }}!</p>
    <a href="/logout/google">Logout</a>
{{ else }}
    <a href="/auth/google">Login with Google</a>
{{ end }}

</body>
</html>
